APP_NAME = "RAG-ChatBot"
APP_VERSION = "0.1"
OPENAI_API_KEY="your_key_here"
WIKI_USER_AGENT = "RAG-ChatBot/1.0 (you@example.com)"

# Change to "production" in production environment
ENVIRONMENT = "development"  
FILE_EXTENSIONS = ["application/pdf", "text/plain","text/markdown"]
FILE_SIZE_LIMIT = 10 # in MB
FILE_DEFAULT_CHUNK_SIZE = 512000

MONGODB_URI = 
MONGODB_DB_NAME = 


# ============================= LLM Config =========================================
# 1. Which provider is currently active? (Matches LLMEnums values)
GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "OPENAI"

# 2. Provider Secrets 
OPENAI_API_KEY = "sk-your_key_here"
OPENAI_BASE_URL = 
COHERE_API_KEY = "sk-your_key_here"
GEMINI_API_KEY = "sk-your_key_here"

# 3. Generation Tuning Parameters  # or "command-r"
GENERATION_MODEL_ID = "gemini-2.5-flash"
GENERATION_MAX_INPUT_CHARACTERS = 32768
GENERATION_MAX_OUTPUT_TOKENS = 2048
GENERATION_TEMPERATURE = 0.1

# 4. Embedding Tuning Parameters
EMBEDDING_MODEL_ID = "embed-multilingual-v3.0"
EMBEDDING_MODEL_SIZE = 1024


# ============================= Vector DB Config ===================================
# Choose: QDRANT or MONGODB
VECTOR_DB_BACKEND = "QDRANT"

# Qdrant Settings (Local Docker or Cloud)
QDRANT_URL = "http://localhost:6333"
QDRANT_API_KEY = "" 
#write only file name
QDRANT_PATH ="local_qdrant_db"
# MongoDB Atlas Settings
#MONGODB_URI = "mongodb://admin:password@127.0.0.1:27007/?directConnection=true"
MONGODB_URI ="mongodb_url_here"
MONGODB_DB_NAME = ""
