APP_NAME = "RAG-ChatBot"
APP_VERSION = "0.1"
OPENAI_API_KEY="your_key_here"
WIKI_USER_AGENT = "RAG-ChatBot/1.0 (you@example.com)"

# Change to "production" in production environment
ENVIRONMENT = "development"  
FILE_EXTENSIONS = ["application/pdf", "text/plain","text/markdown"]
FILE_SIZE_LIMIT = 10 # in MB
FILE_DEFAULT_CHUNK_SIZE = 512000

MONGODB_URI = 
MONGODB_DB_NAME = 